<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".TwilightApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_twilight"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Twilight">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WidgetConfigurationActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:name=".widget.PinWidgetReceiver" android:exported="false" />
        <receiver android:name=".widget.CompactWidgetReceiver" android:exported="false" android:label="@string/widget_compact">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_compact" />
        </receiver>
        <receiver android:name=".widget.WideWidgetReceiver" android:exported="false" android:label="@string/widget_wide">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_wide" />
        </receiver>
        <receiver android:name=".widget.TallWidgetReceiver" android:exported="false" android:label="@string/widget_tall">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_tall" />
        </receiver>
    </application>
</manifest>
